.equipo{
    display: flex;
    background-color: #e0e2e4;
    background-image: url("universe.jpg");
}
.contenedor{
    flex-direction: row;
    width: 19%;
    background-color: #b3b5b6;
    opacity: 0.85;
    margin: 1% 1%;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    image-rendering: auto;
    }
.descripcion{
    font-weight: lighter;
}
.serv{ 
    flex-direction: row;
    width: 30%;
    background-color: #b3b5b6;
    opacity: 0.85;
    margin: 1% 1%;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    image-rendering: auto;
    }

}
